# Ignore all CSV files
*.csv

# Ignore all Excel files
*.xls
*.xlsx

# Ignore all PNG image files
*.png
*.json

# Ignore Node.js dependencies
node_modules/

# Optional: Ignore lock files (if you don't want to track them)
package-lock.json
yarn.lock
pnpm-lock.yaml
.Rproj.user

# database
database.sqlite
market_data.db

MyFixClient/
*.h5

# Ignore log files
*.log

# Ignore temporary files
*.tmp   

# Ignore compiled Python files
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Ignore virtual environment directories
portfolio_management\CTraderOpenApiDemo\obj

CTraderOpenApiDemo\bin\